openapi: 3.0.3
info:
  title: Xase API
  description: |
    Xase - The Trust Layer for the AI Economy
    
    Secure, compliant, and privacy-preserving data access for AI training.
    
    ## Features
    - Policy-based access control
    - Privacy toolkit (k-anonymity, differential privacy, PII detection)
    - Federated query engine
    - JIT and break-glass access
    - Multi-factor authentication
    - Comprehensive audit trail
    
  version: 1.0.0
  contact:
    name: Xase Support
    email: support@xase.ai
    url: https://xase.ai
  license:
    name: Proprietary
    url: https://xase.ai/license

servers:
  - url: https://api.xase.ai
    description: Production
  - url: https://staging-api.xase.ai
    description: Staging
  - url: http://localhost:3000
    description: Local development

tags:
  - name: Health
    description: Health check endpoints
  - name: Datasets
    description: Dataset management
  - name: Leases
    description: Access lease management
  - name: Policies
    description: Policy validation and management
  - name: Privacy
    description: Privacy analysis and PII detection
  - name: Federated
    description: Federated query execution
  - name: Auth
    description: Authentication and authorization
  - name: JIT Access
    description: Just-in-time access provisioning
  - name: Break-glass
    description: Emergency access
  - name: Billing
    description: Billing and invoicing
  - name: Compliance
    description: GDPR and regulatory compliance
  - name: Integrations
    description: Cloud storage integrations
  - name: Audit
    description: Audit log management
  - name: Analytics
    description: Analytics and metrics
  - name: Consent
    description: Consent management
  - name: Evidence
    description: Evidence bundles
  - name: GraphQL
    description: GraphQL API
  - name: Marketplace
    description: Data marketplace and offers
  - name: Notifications
    description: User notifications
  - name: Webhooks
    description: Webhook management
  - name: Usage
    description: Usage tracking and reporting
  - name: Tenants
    description: Tenant management
  - name: Users
    description: User management
  - name: OAuth
    description: OAuth2 and OIDC flows
  - name: Executions
    description: Workflow execution management
  - name: Ingestion
    description: Data ingestion pipelines
  - name: Watermarking
    description: Digital watermarking for datasets
  - name: Teams
    description: Team and role management
  - name: HIPAA
    description: HIPAA compliance endpoints
  - name: LGPD
    description: LGPD compliance (Brazil)
  - name: FCA
    description: FCA compliance (UK Financial)
  - name: BaFin
    description: BaFin compliance (Germany Financial)
  - name: CLI
    description: CLI authentication and operations

security:
  - ApiKeyAuth: []
  - BearerAuth: []
  - OAuth2: []

paths:
  /api/health:
    get:
      tags: [Health]
      summary: Health check
      description: Check API health status
      security: []
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  timestamp:
                    type: string
                    format: date-time

  /api/v1/datasets:
    get:
      tags: [Datasets]
      summary: List datasets
      description: Get list of available datasets
      parameters:
        - name: tenantId
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of datasets
          content:
            application/json:
              schema:
                type: object
                properties:
                  datasets:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dataset'
                  total:
                    type: integer

  /api/v1/datasets/{datasetId}/stream:
    get:
      tags: [Datasets]
      summary: Stream dataset
      description: Stream dataset with policy enforcement
      parameters:
        - name: datasetId
          in: path
          required: true
          schema:
            type: string
        - name: leaseId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Streaming response
          content:
            application/x-ndjson:
              schema:
                type: object

  /api/v1/leases:
    get:
      tags: [Leases]
      summary: List leases
      description: Get list of access leases
      responses:
        '200':
          description: List of leases
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Lease'
    
    post:
      tags: [Leases]
      summary: Create lease
      description: Mint new access lease
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaseRequest'
      responses:
        '201':
          description: Lease created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lease'

  /api/v1/policies/validate:
    post:
      tags: [Policies]
      summary: Validate policy
      description: Validate YAML policy
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
              example: |
                apiVersion: xase.ai/v1
                kind: DataAccessPolicy
                metadata:
                  name: healthcare-training
                spec:
                  dataset: patient-records
                  purpose: TRAINING
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyValidation'

  /api/v1/privacy/analyze:
    post:
      tags: [Privacy]
      summary: Analyze privacy
      description: Perform comprehensive privacy analysis
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivacyAnalysisRequest'
      responses:
        '200':
          description: Privacy analysis result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivacyAnalysisResult'

  /api/v1/privacy/pii-detect:
    post:
      tags: [Privacy]
      summary: Detect PII
      description: Detect personally identifiable information
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    type: object
      responses:
        '200':
          description: PII detection result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PIIDetectionResult'

  /api/v1/federated/query:
    post:
      tags: [Federated]
      summary: Execute federated query
      description: Execute SQL query on federated data source
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FederatedQueryRequest'
      responses:
        '200':
          description: Query results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FederatedQueryResult'

  /api/v1/auth/oidc/callback:
    get:
      tags: [Auth]
      summary: OIDC callback
      description: OAuth2/OIDC callback endpoint
      security: []
      parameters:
        - name: code
          in: query
          required: true
          schema:
            type: string
        - name: state
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResult'

  /api/v1/auth/mfa/setup:
    post:
      tags: [Auth]
      summary: Setup MFA
      description: Setup multi-factor authentication
      responses:
        '200':
          description: MFA setup information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MFASetup'

  /api/v1/jit-access/request:
    post:
      tags: [JIT Access]
      summary: Request JIT access
      description: Request just-in-time access to resource
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JITAccessRequest'
      responses:
        '200':
          description: Access granted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JITAccessGrant'

  /api/v1/break-glass/activate:
    post:
      tags: [Break-glass]
      summary: Activate break-glass
      description: Activate emergency break-glass access
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BreakGlassRequest'
      responses:
        '200':
          description: Break-glass activated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BreakGlassSession'

  /oauth/authorize:
    get:
      tags: [OAuth]
      summary: OAuth2 authorization endpoint
      description: Initiate OAuth2 authorization code flow
      security: []
      parameters:
        - name: client_id
          in: query
          required: true
          schema:
            type: string
        - name: redirect_uri
          in: query
          required: true
          schema:
            type: string
        - name: response_type
          in: query
          required: true
          schema:
            type: string
            enum: [code, token]
        - name: scope
          in: query
          schema:
            type: string
        - name: state
          in: query
          schema:
            type: string
      responses:
        '302':
          description: Redirect to authorization page

  /oauth/token:
    post:
      tags: [OAuth]
      summary: OAuth2 token endpoint
      description: Exchange authorization code for access token
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - grant_type
                - client_id
                - client_secret
              properties:
                grant_type:
                  type: string
                  enum: [authorization_code, refresh_token, client_credentials]
                code:
                  type: string
                redirect_uri:
                  type: string
                client_id:
                  type: string
                client_secret:
                  type: string
                refresh_token:
                  type: string
                scope:
                  type: string
      responses:
        '200':
          description: Access token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthTokenResponse'

  /oauth/refresh:
    post:
      tags: [OAuth]
      summary: Refresh OAuth2 token
      description: Refresh an expired access token
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - grant_type
                - refresh_token
                - client_id
                - client_secret
              properties:
                grant_type:
                  type: string
                  enum: [refresh_token]
                refresh_token:
                  type: string
                client_id:
                  type: string
                client_secret:
                  type: string
      responses:
        '200':
          description: Token refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthTokenResponse'

  /oauth/revoke:
    post:
      tags: [OAuth]
      summary: Revoke OAuth2 token
      description: Revoke an access or refresh token
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - token
                - client_id
                - client_secret
              properties:
                token:
                  type: string
                token_type_hint:
                  type: string
                  enum: [access_token, refresh_token]
                client_id:
                  type: string
                client_secret:
                  type: string
      responses:
        '200':
          description: Token revoked

  /oauth/introspect:
    post:
      tags: [OAuth]
      summary: Introspect OAuth2 token
      description: Get token metadata and validation status
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                token_type_hint:
                  type: string
      responses:
        '200':
          description: Token introspection result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthIntrospectionResponse'

  /oidc/.well-known/openid-configuration:
    get:
      tags: [OAuth]
      summary: OIDC discovery endpoint
      description: OpenID Connect discovery metadata
      security: []
      responses:
        '200':
          description: OIDC configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OIDCConfiguration'

  /oidc/userinfo:
    get:
      tags: [OAuth]
      summary: OIDC UserInfo endpoint
      description: Get authenticated user information
      responses:
        '200':
          description: User information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OIDCUserInfo'

  /api/v1/executions:
    get:
      tags: [Executions]
      summary: List workflow executions
      description: Get list of workflow executions
      parameters:
        - name: workflowId
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [PENDING, RUNNING, COMPLETED, FAILED, CANCELLED]
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of executions
          content:
            application/json:
              schema:
                type: object
                properties:
                  executions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Execution'
                  total:
                    type: integer

  /api/v1/executions/{executionId}:
    get:
      tags: [Executions]
      summary: Get execution details
      description: Get detailed information about a workflow execution
      parameters:
        - name: executionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Execution details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Execution'

  /api/v1/executions/{executionId}/cancel:
    post:
      tags: [Executions]
      summary: Cancel execution
      description: Cancel a running workflow execution
      parameters:
        - name: executionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Execution cancelled

  /api/v1/executions/{executionId}/retry:
    post:
      tags: [Executions]
      summary: Retry failed execution
      description: Retry a failed workflow execution
      parameters:
        - name: executionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Execution retried
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Execution'

  /api/v1/executions/{executionId}/logs:
    get:
      tags: [Executions]
      summary: Get execution logs
      description: Get logs for a workflow execution
      parameters:
        - name: executionId
          in: path
          required: true
          schema:
            type: string
        - name: level
          in: query
          schema:
            type: string
            enum: [DEBUG, INFO, WARN, ERROR]
      responses:
        '200':
          description: Execution logs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExecutionLog'

  /api/v1/ingestion/pipelines:
    get:
      tags: [Ingestion]
      summary: List ingestion pipelines
      description: Get list of data ingestion pipelines
      responses:
        '200':
          description: List of pipelines
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IngestionPipeline'
    post:
      tags: [Ingestion]
      summary: Create ingestion pipeline
      description: Create a new data ingestion pipeline
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestionPipelineCreate'
      responses:
        '201':
          description: Pipeline created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestionPipeline'

  /api/v1/ingestion/pipelines/{pipelineId}:
    get:
      tags: [Ingestion]
      summary: Get pipeline details
      parameters:
        - name: pipelineId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Pipeline details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestionPipeline'
    put:
      tags: [Ingestion]
      summary: Update pipeline
      parameters:
        - name: pipelineId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestionPipelineUpdate'
      responses:
        '200':
          description: Pipeline updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestionPipeline'
    delete:
      tags: [Ingestion]
      summary: Delete pipeline
      parameters:
        - name: pipelineId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Pipeline deleted

  /api/v1/ingestion/pipelines/{pipelineId}/start:
    post:
      tags: [Ingestion]
      summary: Start pipeline
      description: Start data ingestion pipeline
      parameters:
        - name: pipelineId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Pipeline started

  /api/v1/ingestion/pipelines/{pipelineId}/stop:
    post:
      tags: [Ingestion]
      summary: Stop pipeline
      description: Stop running ingestion pipeline
      parameters:
        - name: pipelineId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Pipeline stopped

  /api/v1/ingestion/pipelines/{pipelineId}/metrics:
    get:
      tags: [Ingestion]
      summary: Get pipeline metrics
      description: Get ingestion pipeline performance metrics
      parameters:
        - name: pipelineId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Pipeline metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestionMetrics'

  /api/v1/watermarking/embed:
    post:
      tags: [Watermarking]
      summary: Embed watermark
      description: Embed digital watermark in dataset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WatermarkEmbedRequest'
      responses:
        '200':
          description: Watermark embedded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WatermarkResult'

  /api/v1/watermarking/detect:
    post:
      tags: [Watermarking]
      summary: Detect watermark
      description: Detect and verify watermark in dataset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WatermarkDetectRequest'
      responses:
        '200':
          description: Watermark detection result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WatermarkDetectionResult'

  /api/v1/watermarking/verify:
    post:
      tags: [Watermarking]
      summary: Verify watermark integrity
      description: Verify watermark has not been tampered with
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - datasetId
                - watermarkId
              properties:
                datasetId:
                  type: string
                watermarkId:
                  type: string
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                  confidence:
                    type: number
                  tamperedRegions:
                    type: array
                    items:
                      type: object

  /api/v1/teams:
    get:
      tags: [Teams]
      summary: List teams
      description: Get list of teams in organization
      responses:
        '200':
          description: List of teams
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'
    post:
      tags: [Teams]
      summary: Create team
      description: Create a new team
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamCreate'
      responses:
        '201':
          description: Team created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'

  /api/v1/teams/{teamId}:
    get:
      tags: [Teams]
      summary: Get team details
      parameters:
        - name: teamId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Team details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
    put:
      tags: [Teams]
      summary: Update team
      parameters:
        - name: teamId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamUpdate'
      responses:
        '200':
          description: Team updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
    delete:
      tags: [Teams]
      summary: Delete team
      parameters:
        - name: teamId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Team deleted

  /api/v1/teams/{teamId}/members:
    get:
      tags: [Teams]
      summary: List team members
      parameters:
        - name: teamId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of team members
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamMember'
    post:
      tags: [Teams]
      summary: Add team member
      parameters:
        - name: teamId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamMemberAdd'
      responses:
        '201':
          description: Member added

  /api/v1/teams/{teamId}/members/{userId}:
    delete:
      tags: [Teams]
      summary: Remove team member
      parameters:
        - name: teamId
          in: path
          required: true
          schema:
            type: string
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Member removed

  /api/v1/teams/{teamId}/roles:
    get:
      tags: [Teams]
      summary: List team roles
      parameters:
        - name: teamId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of roles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamRole'

  /api/v1/compliance/hipaa/audit:
    post:
      tags: [HIPAA]
      summary: HIPAA audit log
      description: Log HIPAA-compliant access event
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HIPAAAuditLog'
      responses:
        '201':
          description: Audit log created

  /api/v1/compliance/hipaa/phi-access:
    get:
      tags: [HIPAA]
      summary: Get PHI access logs
      description: Retrieve Protected Health Information access logs
      parameters:
        - name: patientId
          in: query
          schema:
            type: string
        - name: startDate
          in: query
          schema:
            type: string
            format: date-time
        - name: endDate
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: PHI access logs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PHIAccessLog'

  /api/v1/compliance/hipaa/breach-notification:
    post:
      tags: [HIPAA]
      summary: HIPAA breach notification
      description: Submit HIPAA breach notification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HIPAABreachNotification'
      responses:
        '201':
          description: Breach notification submitted

  /api/v1/compliance/hipaa/baa:
    get:
      tags: [HIPAA]
      summary: Get Business Associate Agreement
      description: Retrieve BAA documentation
      responses:
        '200':
          description: BAA document
          content:
            application/pdf:
              schema:
                type: string
                format: binary

  /api/v1/compliance/lgpd/consent:
    post:
      tags: [LGPD]
      summary: Record LGPD consent
      description: Record data subject consent under LGPD
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LGPDConsent'
      responses:
        '201':
          description: Consent recorded

  /api/v1/compliance/lgpd/data-subject-request:
    post:
      tags: [LGPD]
      summary: LGPD data subject request
      description: Submit LGPD data subject access/deletion request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LGPDDataSubjectRequest'
      responses:
        '201':
          description: Request submitted
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestId:
                    type: string
                  status:
                    type: string

  /api/v1/compliance/lgpd/impact-assessment:
    post:
      tags: [LGPD]
      summary: LGPD impact assessment
      description: Submit data protection impact assessment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LGPDImpactAssessment'
      responses:
        '201':
          description: Assessment submitted

  /api/v1/compliance/fca/transaction-reporting:
    post:
      tags: [FCA]
      summary: FCA transaction reporting
      description: Submit FCA-compliant transaction report
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FCATransactionReport'
      responses:
        '201':
          description: Report submitted

  /api/v1/compliance/fca/market-abuse:
    post:
      tags: [FCA]
      summary: Report market abuse
      description: Submit market abuse report to FCA
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FCAMarketAbuseReport'
      responses:
        '201':
          description: Report submitted

  /api/v1/compliance/fca/client-assets:
    get:
      tags: [FCA]
      summary: FCA client assets report
      description: Generate FCA client assets segregation report
      parameters:
        - name: reportDate
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Client assets report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FCAClientAssetsReport'

  /api/v1/compliance/bafin/mifid-reporting:
    post:
      tags: [BaFin]
      summary: BaFin MiFID reporting
      description: Submit MiFID II transaction reporting to BaFin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaFinMiFIDReport'
      responses:
        '201':
          description: Report submitted

  /api/v1/compliance/bafin/wphg-notification:
    post:
      tags: [BaFin]
      summary: BaFin WpHG notification
      description: Submit securities trading notification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaFinWpHGNotification'
      responses:
        '201':
          description: Notification submitted

  /api/v1/compliance/bafin/risk-report:
    post:
      tags: [BaFin]
      summary: BaFin risk report
      description: Submit risk management report
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaFinRiskReport'
      responses:
        '201':
          description: Report submitted

  /api/v1/cli/auth/login:
    post:
      tags: [CLI]
      summary: CLI authentication
      description: Authenticate CLI client
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - apiKey
              properties:
                apiKey:
                  type: string
                deviceId:
                  type: string
                deviceName:
                  type: string
      responses:
        '200':
          description: CLI authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLIAuthResponse'

  /api/v1/cli/auth/device-code:
    post:
      tags: [CLI]
      summary: CLI device code flow
      description: Initiate device code authentication flow
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - clientId
              properties:
                clientId:
                  type: string
                scope:
                  type: string
      responses:
        '200':
          description: Device code issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceCodeResponse'

  /api/v1/cli/auth/device-token:
    post:
      tags: [CLI]
      summary: Poll for device token
      description: Poll for device code authorization completion
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - deviceCode
                - clientId
              properties:
                deviceCode:
                  type: string
                clientId:
                  type: string
      responses:
        '200':
          description: Token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthTokenResponse'
        '400':
          description: Authorization pending or denied

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.xase.ai/oauth/authorize
          tokenUrl: https://api.xase.ai/oauth/token
          refreshUrl: https://api.xase.ai/oauth/refresh
          scopes:
            read:datasets: Read dataset information
            write:datasets: Create and modify datasets
            read:leases: Read lease information
            write:leases: Create and manage leases
            admin: Full administrative access
        clientCredentials:
          tokenUrl: https://api.xase.ai/oauth/token
          scopes:
            api:access: API access for service accounts

  schemas:
    Dataset:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        tenantId:
          type: string
        createdAt:
          type: string
          format: date-time

    Lease:
      type: object
      properties:
        leaseId:
          type: string
        datasetId:
          type: string
        tenantId:
          type: string
        purpose:
          type: string
          enum: [TRAINING, INFERENCE, ANALYTICS]
        expiresAt:
          type: string
          format: date-time

    LeaseRequest:
      type: object
      required:
        - datasetId
        - purpose
      properties:
        datasetId:
          type: string
        purpose:
          type: string
          enum: [TRAINING, INFERENCE, ANALYTICS]
        duration:
          type: integer
          description: Duration in seconds

    PolicyValidation:
      type: object
      properties:
        valid:
          type: boolean
        errors:
          type: array
          items:
            type: string
        rewritePlan:
          type: object

    PrivacyAnalysisRequest:
      type: object
      required:
        - datasetId
      properties:
        datasetId:
          type: string
        quasiIdentifiers:
          type: array
          items:
            type: string
        k:
          type: integer
          default: 5

    PrivacyAnalysisResult:
      type: object
      properties:
        privacyScore:
          type: number
          minimum: 0
          maximum: 100
        kAnonymity:
          type: object
        differentialPrivacy:
          type: object
        piiDetection:
          type: object
        recommendations:
          type: array
          items:
            type: object

    PIIDetectionResult:
      type: object
      properties:
        findings:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              type:
                type: string
              confidence:
                type: number

    FederatedQueryRequest:
      type: object
      required:
        - dataSource
        - query
      properties:
        dataSource:
          type: string
        query:
          type: string

    FederatedQueryResult:
      type: object
      properties:
        results:
          type: array
          items:
            type: object
        rowCount:
          type: integer
        executionTime:
          type: number

    AuthResult:
      type: object
      properties:
        sessionId:
          type: string
        user:
          type: object
        tokens:
          type: object

    MFASetup:
      type: object
      properties:
        secret:
          type: string
        qrCodeUrl:
          type: string
        backupCodes:
          type: array
          items:
            type: string

    JITAccessRequest:
      type: object
      required:
        - userId
        - tenantId
        - resourceType
        - resourceId
        - permissions
        - reason
      properties:
        userId:
          type: string
        tenantId:
          type: string
        resourceType:
          type: string
          enum: [DATASET, POLICY, LEASE, ADMIN]
        resourceId:
          type: string
        permissions:
          type: array
          items:
            type: string
        reason:
          type: string
        duration:
          type: integer
          default: 3600

    JITAccessGrant:
      type: object
      properties:
        grantId:
          type: string
        expiresAt:
          type: string
          format: date-time

    BreakGlassRequest:
      type: object
      required:
        - userId
        - tenantId
        - resourceType
        - resourceId
        - reason
      properties:
        userId:
          type: string
        tenantId:
          type: string
        resourceType:
          type: string
        resourceId:
          type: string
        reason:
          type: string
        severity:
          type: string
          enum: [CRITICAL, HIGH, MEDIUM]
          default: HIGH

    BreakGlassSession:
      type: object
      properties:
        sessionId:
          type: string
        expiresAt:
          type: string
          format: date-time

  # Additional endpoints
  /api/v1/datasets/{datasetId}:
    get:
      tags: [Datasets]
      summary: Get dataset details
      parameters:
        - name: datasetId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Dataset details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
    
    put:
      tags: [Datasets]
      summary: Update dataset
      parameters:
        - name: datasetId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatasetUpdate'
      responses:
        '200':
          description: Dataset updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
    
    delete:
      tags: [Datasets]
      summary: Delete dataset
      parameters:
        - name: datasetId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Dataset deleted

  /api/v1/leases/{leaseId}:
    get:
      tags: [Leases]
      summary: Get lease details
      parameters:
        - name: leaseId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Lease details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lease'
    
    delete:
      tags: [Leases]
      summary: Revoke lease
      parameters:
        - name: leaseId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Lease revoked

  /api/auth/register:
    post:
      tags: [Auth]
      summary: Register new user
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
                - name
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                name:
                  type: string
      responses:
        '201':
          description: User registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  userId:
                    type: string
                  email:
                    type: string

  /api/auth/forgot-password:
    post:
      tags: [Auth]
      summary: Request password reset
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: Reset email sent

  /api/auth/reset-password:
    post:
      tags: [Auth]
      summary: Reset password
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
                - password
              properties:
                token:
                  type: string
                password:
                  type: string
                  minLength: 8
      responses:
        '200':
          description: Password reset successful

  /api/auth/2fa/setup:
    post:
      tags: [Auth]
      summary: Setup 2FA
      responses:
        '200':
          description: 2FA setup information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MFASetup'

  /api/auth/2fa/verify:
    post:
      tags: [Auth]
      summary: Verify 2FA code
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
              properties:
                code:
                  type: string
                  pattern: '^\d{6}$'
      responses:
        '200':
          description: Code verified

  /api/billing/invoices:
    get:
      tags: [Billing]
      summary: List invoices
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of invoices
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoices:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invoice'
                  total:
                    type: integer

  /api/compliance/gdpr/dsar:
    post:
      tags: [Compliance]
      summary: Submit GDPR data subject access request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - subjectId
              properties:
                subjectId:
                  type: string
                requestType:
                  type: string
                  enum: [ACCESS, ERASURE, PORTABILITY]
      responses:
        '201':
          description: DSAR submitted
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestId:
                    type: string
                  status:
                    type: string

  /api/compliance/gdpr/breach:
    post:
      tags: [Compliance]
      summary: Report GDPR data breach
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - description
                - severity
              properties:
                description:
                  type: string
                severity:
                  type: string
                  enum: [LOW, MEDIUM, HIGH, CRITICAL]
                affectedRecords:
                  type: integer
      responses:
        '201':
          description: Breach reported
          content:
            application/json:
              schema:
                type: object
                properties:
                  breachId:
                    type: string
                  reportedAt:
                    type: string
                    format: date-time

  /api/cloud-integrations:
    get:
      tags: [Integrations]
      summary: List cloud integrations
      responses:
        '200':
          description: List of integrations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CloudIntegration'
    
    post:
      tags: [Integrations]
      summary: Create cloud integration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudIntegrationCreate'
      responses:
        '201':
          description: Integration created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudIntegration'

  /api/cloud-integrations/{id}:
    get:
      tags: [Integrations]
      summary: Get integration details
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Integration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudIntegration'
    
    delete:
      tags: [Integrations]
      summary: Delete integration
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Integration deleted

  /api/cloud-integrations/{id}/scan:
    post:
      tags: [Integrations]
      summary: Scan cloud storage
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Scan initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  scanId:
                    type: string
                  status:
                    type: string

  /api/audit/export:
    get:
      tags: [Audit]
      summary: Export audit logs
      parameters:
        - name: startDate
          in: query
          schema:
            type: string
            format: date-time
        - name: endDate
          in: query
          schema:
            type: string
            format: date-time
        - name: format
          in: query
          schema:
            type: string
            enum: [JSON, CSV, PDF]
            default: JSON
      responses:
        '200':
          description: Audit logs export
          content:
            application/json:
              schema:
                type: object
            text/csv:
              schema:
                type: string
            application/pdf:
              schema:
                type: string
                format: binary

  /api/dashboard/metrics:
    get:
      tags: [Analytics]
      summary: Get dashboard metrics
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [DAY, WEEK, MONTH, YEAR]
            default: WEEK
      responses:
        '200':
          description: Dashboard metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardMetrics'

  /api/analytics/advanced:
    post:
      tags: [Analytics]
      summary: Run advanced analytics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - datasetId
                - analysisType
              properties:
                datasetId:
                  type: string
                analysisType:
                  type: string
                  enum: [STATISTICAL, QUALITY, BIAS, DRIFT]
                parameters:
                  type: object
      responses:
        '200':
          description: Analysis results
          content:
            application/json:
              schema:
                type: object

  /api/consent/revoke:
    post:
      tags: [Consent]
      summary: Revoke consent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - consentId
              properties:
                consentId:
                  type: string
                reason:
                  type: string
      responses:
        '200':
          description: Consent revoked

  /api/evidence/{bundleId}:
    get:
      tags: [Evidence]
      summary: Get evidence bundle
      parameters:
        - name: bundleId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Evidence bundle
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvidenceBundle'

  /api/graphql:
    post:
      tags: [GraphQL]
      summary: GraphQL endpoint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                variables:
                  type: object
                operationName:
                  type: string
      responses:
        '200':
          description: GraphQL response
          content:
            application/json:
              schema:
                type: object

  /api/marketplace/offers:
    get:
      tags: [Marketplace]
      summary: List marketplace offers
      parameters:
        - name: dataType
          in: query
          schema:
            type: string
            enum: [AUDIO, IMAGE, VIDEO, TEXT, DICOM]
        - name: minPrice
          in: query
          schema:
            type: number
        - name: maxPrice
          in: query
          schema:
            type: number
      responses:
        '200':
          description: List of offers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Offer'
    
    post:
      tags: [Marketplace]
      summary: Create marketplace offer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfferCreate'
      responses:
        '201':
          description: Offer created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offer'

  /api/marketplace/offers/{offerId}:
    get:
      tags: [Marketplace]
      summary: Get offer details
      parameters:
        - name: offerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Offer details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offer'
    
    put:
      tags: [Marketplace]
      summary: Update offer
      parameters:
        - name: offerId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfferUpdate'
      responses:
        '200':
          description: Offer updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offer'
    
    delete:
      tags: [Marketplace]
      summary: Delete offer
      parameters:
        - name: offerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Offer deleted

  /api/marketplace/offers/{offerId}/negotiate:
    post:
      tags: [Marketplace]
      summary: Negotiate offer terms
      parameters:
        - name: offerId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - proposedPrice
              properties:
                proposedPrice:
                  type: number
                proposedTerms:
                  type: object
                message:
                  type: string
      responses:
        '200':
          description: Negotiation initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  negotiationId:
                    type: string
                  status:
                    type: string

  /api/marketplace/access-requests:
    get:
      tags: [Marketplace]
      summary: List access requests
      responses:
        '200':
          description: List of access requests
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccessRequest'
    
    post:
      tags: [Marketplace]
      summary: Create access request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessRequestCreate'
      responses:
        '201':
          description: Access request created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRequest'

  /api/marketplace/access-requests/{requestId}/approve:
    post:
      tags: [Marketplace]
      summary: Approve access request
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Request approved

  /api/marketplace/access-requests/{requestId}/reject:
    post:
      tags: [Marketplace]
      summary: Reject access request
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: Request rejected

  /api/notifications:
    get:
      tags: [Notifications]
      summary: List notifications
      parameters:
        - name: unreadOnly
          in: query
          schema:
            type: boolean
            default: false
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: List of notifications
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Notification'

  /api/notifications/{notificationId}/read:
    post:
      tags: [Notifications]
      summary: Mark notification as read
      parameters:
        - name: notificationId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Notification marked as read

  /api/webhooks:
    get:
      tags: [Webhooks]
      summary: List webhooks
      responses:
        '200':
          description: List of webhooks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Webhook'
    
    post:
      tags: [Webhooks]
      summary: Create webhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreate'
      responses:
        '201':
          description: Webhook created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'

  /api/webhooks/{webhookId}:
    get:
      tags: [Webhooks]
      summary: Get webhook details
      parameters:
        - name: webhookId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Webhook details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
    
    put:
      tags: [Webhooks]
      summary: Update webhook
      parameters:
        - name: webhookId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookUpdate'
      responses:
        '200':
          description: Webhook updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
    
    delete:
      tags: [Webhooks]
      summary: Delete webhook
      parameters:
        - name: webhookId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Webhook deleted

  /api/webhooks/{webhookId}/test:
    post:
      tags: [Webhooks]
      summary: Test webhook
      parameters:
        - name: webhookId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Test webhook sent

  /api/usage/report:
    get:
      tags: [Usage]
      summary: Get usage report
      parameters:
        - name: startDate
          in: query
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
        - name: granularity
          in: query
          schema:
            type: string
            enum: [HOURLY, DAILY, WEEKLY, MONTHLY]
            default: DAILY
      responses:
        '200':
          description: Usage report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageReport'

  /api/tenants:
    get:
      tags: [Tenants]
      summary: List tenants
      responses:
        '200':
          description: List of tenants
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tenant'
    
    post:
      tags: [Tenants]
      summary: Create tenant
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantCreate'
      responses:
        '201':
          description: Tenant created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'

  /api/tenants/{tenantId}:
    get:
      tags: [Tenants]
      summary: Get tenant details
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Tenant details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
    
    put:
      tags: [Tenants]
      summary: Update tenant
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantUpdate'
      responses:
        '200':
          description: Tenant updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'

  /api/users:
    get:
      tags: [Users]
      summary: List users
      parameters:
        - name: tenantId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'

  /api/users/{userId}:
    get:
      tags: [Users]
      summary: Get user details
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
    
    put:
      tags: [Users]
      summary: Update user
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdate'
      responses:
        '200':
          description: User updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /api/policies:
    get:
      tags: [Policies]
      summary: List policies
      responses:
        '200':
          description: List of policies
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Policy'
    
    post:
      tags: [Policies]
      summary: Create policy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyCreate'
      responses:
        '201':
          description: Policy created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'

  /api/policies/{policyId}:
    get:
      tags: [Policies]
      summary: Get policy details
      parameters:
        - name: policyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Policy details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
    
    put:
      tags: [Policies]
      summary: Update policy
      parameters:
        - name: policyId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyUpdate'
      responses:
        '200':
          description: Policy updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
    
    delete:
      tags: [Policies]
      summary: Delete policy
      parameters:
        - name: policyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Policy deleted

    DatasetUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        metadata:
          type: object

    Invoice:
      type: object
      properties:
        id:
          type: string
        amount:
          type: number
        currency:
          type: string
        status:
          type: string
          enum: [PENDING, PAID, FAILED]
        createdAt:
          type: string
          format: date-time

    CloudIntegration:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        provider:
          type: string
          enum: [AWS, GCP, AZURE]
        status:
          type: string
          enum: [ACTIVE, INACTIVE, ERROR]
        createdAt:
          type: string
          format: date-time

    CloudIntegrationCreate:
      type: object
      required:
        - name
        - provider
        - credentials
      properties:
        name:
          type: string
        provider:
          type: string
          enum: [AWS, GCP, AZURE]
        credentials:
          type: object

    DashboardMetrics:
      type: object
      properties:
        totalDatasets:
          type: integer
        activeLeases:
          type: integer
        dataVolume:
          type: number
        apiCalls:
          type: integer
        complianceScore:
          type: number

    EvidenceBundle:
      type: object
      properties:
        bundleId:
          type: string
        datasetId:
          type: string
        leaseId:
          type: string
        evidence:
          type: object
        createdAt:
          type: string
          format: date-time

    Offer:
      type: object
      properties:
        id:
          type: string
        datasetId:
          type: string
        sellerId:
          type: string
        price:
          type: number
        currency:
          type: string
          default: USD
        dataType:
          type: string
          enum: [AUDIO, IMAGE, VIDEO, TEXT, DICOM]
        status:
          type: string
          enum: [ACTIVE, INACTIVE, SOLD]
        createdAt:
          type: string
          format: date-time

    OfferCreate:
      type: object
      required:
        - datasetId
        - price
      properties:
        datasetId:
          type: string
        price:
          type: number
        currency:
          type: string
          default: USD
        terms:
          type: object

    OfferUpdate:
      type: object
      properties:
        price:
          type: number
        status:
          type: string
          enum: [ACTIVE, INACTIVE]
        terms:
          type: object

    AccessRequest:
      type: object
      properties:
        id:
          type: string
        requesterId:
          type: string
        datasetId:
          type: string
        status:
          type: string
          enum: [PENDING, APPROVED, REJECTED]
        reason:
          type: string
        createdAt:
          type: string
          format: date-time

    AccessRequestCreate:
      type: object
      required:
        - datasetId
        - reason
      properties:
        datasetId:
          type: string
        reason:
          type: string
        requestedPermissions:
          type: array
          items:
            type: string

    Notification:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        type:
          type: string
          enum: [INFO, WARNING, ERROR, SUCCESS]
        title:
          type: string
        message:
          type: string
        read:
          type: boolean
        createdAt:
          type: string
          format: date-time

    Webhook:
      type: object
      properties:
        id:
          type: string
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
        active:
          type: boolean
        secret:
          type: string
        createdAt:
          type: string
          format: date-time

    WebhookCreate:
      type: object
      required:
        - url
        - events
      properties:
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
        secret:
          type: string

    WebhookUpdate:
      type: object
      properties:
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
        active:
          type: boolean

    UsageReport:
      type: object
      properties:
        period:
          type: object
          properties:
            start:
              type: string
              format: date-time
            end:
              type: string
              format: date-time
        metrics:
          type: object
          properties:
            apiCalls:
              type: integer
            dataTransferred:
              type: number
            activeLeases:
              type: integer
            costs:
              type: number

    Tenant:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        plan:
          type: string
          enum: [FREE, STARTER, PRO, ENTERPRISE]
        status:
          type: string
          enum: [ACTIVE, SUSPENDED, DELETED]
        createdAt:
          type: string
          format: date-time

    TenantCreate:
      type: object
      required:
        - name
      properties:
        name:
          type: string
        plan:
          type: string
          enum: [FREE, STARTER, PRO, ENTERPRISE]
          default: FREE

    TenantUpdate:
      type: object
      properties:
        name:
          type: string
        plan:
          type: string
          enum: [FREE, STARTER, PRO, ENTERPRISE]
        status:
          type: string
          enum: [ACTIVE, SUSPENDED]

    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
        tenantId:
          type: string
        role:
          type: string
          enum: [OWNER, ADMIN, VIEWER]
        createdAt:
          type: string
          format: date-time

    UserUpdate:
      type: object
      properties:
        name:
          type: string
        role:
          type: string
          enum: [OWNER, ADMIN, VIEWER]

    Policy:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        rules:
          type: object
        active:
          type: boolean
        createdAt:
          type: string
          format: date-time

    PolicyCreate:
      type: object
      required:
        - name
        - rules
      properties:
        name:
          type: string
        description:
          type: string
        rules:
          type: object

    PolicyUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        rules:
          type: object
        active:
          type: boolean

    OAuthTokenResponse:
      type: object
      properties:
        access_token:
          type: string
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
        refresh_token:
          type: string
        scope:
          type: string

    OAuthIntrospectionResponse:
      type: object
      properties:
        active:
          type: boolean
        scope:
          type: string
        client_id:
          type: string
        username:
          type: string
        token_type:
          type: string
        exp:
          type: integer
        iat:
          type: integer
        sub:
          type: string

    OIDCConfiguration:
      type: object
      properties:
        issuer:
          type: string
        authorization_endpoint:
          type: string
        token_endpoint:
          type: string
        userinfo_endpoint:
          type: string
        jwks_uri:
          type: string
        response_types_supported:
          type: array
          items:
            type: string
        subject_types_supported:
          type: array
          items:
            type: string
        id_token_signing_alg_values_supported:
          type: array
          items:
            type: string

    OIDCUserInfo:
      type: object
      properties:
        sub:
          type: string
        name:
          type: string
        email:
          type: string
        email_verified:
          type: boolean
        picture:
          type: string

    Execution:
      type: object
      properties:
        id:
          type: string
        workflowId:
          type: string
        status:
          type: string
          enum: [PENDING, RUNNING, COMPLETED, FAILED, CANCELLED]
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        duration:
          type: number
        input:
          type: object
        output:
          type: object
        error:
          type: string

    ExecutionLog:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        level:
          type: string
          enum: [DEBUG, INFO, WARN, ERROR]
        message:
          type: string
        metadata:
          type: object

    IngestionPipeline:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        sourceType:
          type: string
          enum: [S3, GCS, AZURE_BLOB, SFTP, HTTP]
        destinationDatasetId:
          type: string
        schedule:
          type: string
        status:
          type: string
          enum: [ACTIVE, PAUSED, FAILED]
        lastRunAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time

    IngestionPipelineCreate:
      type: object
      required:
        - name
        - sourceType
        - destinationDatasetId
      properties:
        name:
          type: string
        description:
          type: string
        sourceType:
          type: string
          enum: [S3, GCS, AZURE_BLOB, SFTP, HTTP]
        sourceConfig:
          type: object
        destinationDatasetId:
          type: string
        schedule:
          type: string
        transformations:
          type: array
          items:
            type: object

    IngestionPipelineUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        schedule:
          type: string
        status:
          type: string
          enum: [ACTIVE, PAUSED]

    IngestionMetrics:
      type: object
      properties:
        totalRecordsProcessed:
          type: integer
        successfulRecords:
          type: integer
        failedRecords:
          type: integer
        avgProcessingTime:
          type: number
        lastRunStatus:
          type: string
        throughput:
          type: number

    WatermarkEmbedRequest:
      type: object
      required:
        - datasetId
        - watermarkData
      properties:
        datasetId:
          type: string
        watermarkData:
          type: string
        strength:
          type: number
          minimum: 0
          maximum: 1
          default: 0.5
        method:
          type: string
          enum: [LSB, DCT, DWT, SPREAD_SPECTRUM]
          default: DCT

    WatermarkDetectRequest:
      type: object
      required:
        - datasetId
      properties:
        datasetId:
          type: string
        expectedWatermarkId:
          type: string

    WatermarkResult:
      type: object
      properties:
        watermarkId:
          type: string
        datasetId:
          type: string
        embeddedAt:
          type: string
          format: date-time
        strength:
          type: number
        method:
          type: string

    WatermarkDetectionResult:
      type: object
      properties:
        detected:
          type: boolean
        watermarkId:
          type: string
        confidence:
          type: number
        strength:
          type: number
        tamperedRegions:
          type: array
          items:
            type: object

    Team:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        tenantId:
          type: string
        memberCount:
          type: integer
        createdAt:
          type: string
          format: date-time

    TeamCreate:
      type: object
      required:
        - name
      properties:
        name:
          type: string
        description:
          type: string

    TeamUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string

    TeamMember:
      type: object
      properties:
        userId:
          type: string
        email:
          type: string
        name:
          type: string
        role:
          type: string
          enum: [OWNER, ADMIN, MEMBER, VIEWER]
        joinedAt:
          type: string
          format: date-time

    TeamMemberAdd:
      type: object
      required:
        - userId
        - role
      properties:
        userId:
          type: string
        role:
          type: string
          enum: [ADMIN, MEMBER, VIEWER]

    TeamRole:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        permissions:
          type: array
          items:
            type: string

    HIPAAAuditLog:
      type: object
      required:
        - userId
        - action
        - resourceType
        - resourceId
      properties:
        userId:
          type: string
        action:
          type: string
          enum: [ACCESS, MODIFY, DELETE, EXPORT]
        resourceType:
          type: string
          enum: [PHI, PATIENT_RECORD, MEDICAL_IMAGE]
        resourceId:
          type: string
        patientId:
          type: string
        reason:
          type: string
        ipAddress:
          type: string

    PHIAccessLog:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        userName:
          type: string
        patientId:
          type: string
        action:
          type: string
        resourceType:
          type: string
        timestamp:
          type: string
          format: date-time
        ipAddress:
          type: string
        reason:
          type: string

    HIPAABreachNotification:
      type: object
      required:
        - description
        - discoveredAt
        - affectedPatients
      properties:
        description:
          type: string
        discoveredAt:
          type: string
          format: date-time
        affectedPatients:
          type: integer
        breachType:
          type: string
          enum: [UNAUTHORIZED_ACCESS, THEFT, LOSS, IMPROPER_DISPOSAL, HACKING]
        mitigationSteps:
          type: string
        notificationSent:
          type: boolean

    LGPDConsent:
      type: object
      required:
        - subjectId
        - purpose
        - consentGiven
      properties:
        subjectId:
          type: string
        purpose:
          type: string
        consentGiven:
          type: boolean
        consentDate:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
        dataCategories:
          type: array
          items:
            type: string

    LGPDDataSubjectRequest:
      type: object
      required:
        - subjectId
        - requestType
      properties:
        subjectId:
          type: string
        requestType:
          type: string
          enum: [ACCESS, RECTIFICATION, DELETION, PORTABILITY, OBJECTION]
        description:
          type: string
        urgency:
          type: string
          enum: [NORMAL, HIGH, URGENT]

    LGPDImpactAssessment:
      type: object
      required:
        - processingActivity
        - dataCategories
        - riskLevel
      properties:
        processingActivity:
          type: string
        dataCategories:
          type: array
          items:
            type: string
        riskLevel:
          type: string
          enum: [LOW, MEDIUM, HIGH, CRITICAL]
        mitigationMeasures:
          type: array
          items:
            type: string
        assessmentDate:
          type: string
          format: date-time
        assessor:
          type: string

    FCATransactionReport:
      type: object
      required:
        - transactionId
        - instrumentId
        - quantity
        - price
        - timestamp
      properties:
        transactionId:
          type: string
        instrumentId:
          type: string
        instrumentType:
          type: string
        quantity:
          type: number
        price:
          type: number
        currency:
          type: string
        timestamp:
          type: string
          format: date-time
        venue:
          type: string
        buyerLEI:
          type: string
        sellerLEI:
          type: string

    FCAMarketAbuseReport:
      type: object
      required:
        - suspectedAbuse
        - description
        - evidence
      properties:
        suspectedAbuse:
          type: string
          enum: [INSIDER_DEALING, MARKET_MANIPULATION, UNLAWFUL_DISCLOSURE]
        description:
          type: string
        evidence:
          type: array
          items:
            type: object
        involvedParties:
          type: array
          items:
            type: string
        timestamp:
          type: string
          format: date-time

    FCAClientAssetsReport:
      type: object
      properties:
        reportDate:
          type: string
          format: date
        totalClientAssets:
          type: number
        segregatedAssets:
          type: number
        firmAssets:
          type: number
        reconciliationStatus:
          type: string
          enum: [RECONCILED, DISCREPANCY, PENDING]
        discrepancies:
          type: array
          items:
            type: object

    BaFinMiFIDReport:
      type: object
      required:
        - transactionId
        - instrumentISIN
        - quantity
        - price
      properties:
        transactionId:
          type: string
        instrumentISIN:
          type: string
        quantity:
          type: number
        price:
          type: number
        currency:
          type: string
        tradingVenue:
          type: string
        executionTime:
          type: string
          format: date-time
        buyerLEI:
          type: string
        sellerLEI:
          type: string
        investmentDecisionPerson:
          type: string

    BaFinWpHGNotification:
      type: object
      required:
        - notificationType
        - issuer
        - votingRights
      properties:
        notificationType:
          type: string
          enum: [ACQUISITION, DISPOSAL, THRESHOLD_CROSSING]
        issuer:
          type: string
        votingRights:
          type: number
        threshold:
          type: number
        notificationDate:
          type: string
          format: date-time
        holderName:
          type: string

    BaFinRiskReport:
      type: object
      required:
        - reportingPeriod
        - riskCategories
      properties:
        reportingPeriod:
          type: string
        riskCategories:
          type: array
          items:
            type: object
            properties:
              category:
                type: string
                enum: [MARKET_RISK, CREDIT_RISK, OPERATIONAL_RISK, LIQUIDITY_RISK]
              exposure:
                type: number
              mitigation:
                type: string
        totalRiskExposure:
          type: number
        capitalRequirement:
          type: number

    CLIAuthResponse:
      type: object
      properties:
        token:
          type: string
        expiresIn:
          type: integer
        refreshToken:
          type: string
        deviceId:
          type: string

    DeviceCodeResponse:
      type: object
      properties:
        device_code:
          type: string
        user_code:
          type: string
        verification_uri:
          type: string
        verification_uri_complete:
          type: string
        expires_in:
          type: integer
        interval:
          type: integer
